<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<title>Welcome!</title>
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
		<link rel="stylesheet" href="{% static "css/style.css" %}">
	</head>
	<body>
		{% include "navbar.html" %}
		<div class="container">
			<div class="page-header">
				<h1>Edit your profile, {{ user.username }}</h1>
			</div>
			<div class="user-profile">
				{{ about }}
				<img src="{{ MEDIA_URL }}{{ pic }}" class="media-object">
			</div>
			<div class="edit-form">
				<form enctype="multipart/form-data" action="/registration/edit/" method="POST">
					{% csrf_token %}
					{% for error in form.non_field_errors %}
						<div class="alert alert-danger">{{ error }}</div>
					{% endfor %}

					{{ form }}

					<br>
					{% for error in form.text.errors %}
						<div class="alert alert-warning">{{ error }}</div>
					{% endfor %}
					<button type="submit" class="btn btn-default">Save</button>
				</form>				
			</div>
		</div>
		{% include "scripts.html" %}
	</body>
</html>