<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<title>Login bro!</title>
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
		<link rel="stylesheet" href="{% static "css/style.css" %}">
	</head>
	<body>
		{% include "navbar.html" %}
		<div class="container">
			<div class="page-header">
				<h2>Login</h2>	
			</div>
			<div class="login-form">
				<form action="/registration/login/" method="POST">
					{% csrf_token %}
					{% for error in form.non_field_errors %}
						<div class="alert alert-danger">{{ error }}</div>
					{% endfor %}

					{% for field in form %}
						<div class="form-group">
							{{ field.label_tag }}
							{{ field }}
						</div>
						{% for error in field.errors %}
							<div class="alert alert-warning">{{ error }}</div>
						{% endfor %}
					{% endfor %}
					<button type="submit" class="btn btn-default">Login</button>
				</form>	
			</div>
		</div>
		{% include "scripts.html" %}
	</body>
</html>