<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#twatnav">
				<span class="sr-only">Toggle Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="{% url 'registration:welcome' %}" class="navbar-brand">Twatter</a>
		</div>
		<div class="collapse navbar-collapse" id="twatnav">
			{% if user and user.username %}
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="{% url 'registration:edit' %}">Edit Profile</a>
				</li>
				<li>
					<a href="{% url 'registration:logout' %}">Logout</a>
				</li>
			</ul>
			{% endif %}
		</div>
	</div>
</nav>