<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<title>Your profile!</title>
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
		<link rel="stylesheet" href="{% static "css/style.css" %}">
	</head>
	<body>
		{% include "navbar.html" %}
		<div class="container">
			<div class="page-header">
				<h1>What's on your mind, {{ user.username }}?</h1>
			</div>
			<br><br>
			<div class="twat-form">
				<form action="/registration/profile/" method="POST">
					{% csrf_token %}
					{% for error in form.non_field_errors %}
						<div class="alert alert-danger">{{ error }}</div>
					{% endfor %}
					<div class="twat-text">
						{{ form.tweet }}
					</div>
					<br>
					{% for error in form.text.errors %}
						<div class="alert alert-warning">{{ error }}</div>
					{% endfor %}
					<button type="submit" class="btn btn-default">Twat!</button>
				</form>
			</div>
			<div class="recent-tweets">
				{% for tweet in twats %}
					<div class="media">
						<a href="#" class="pull-left">
							<img src="{{ MEDIA_URL }}{{ tweet.author.userprofile.display_pic }}" alt="" class="media-object">
						</a>
						<div class="media-body">
							<h4 class="media-header">{{ tweet.author.username }}</h4>
							{{ tweet.text }}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		{% include "scripts.html" %}
		<script>
			(function() {
				$('#id_tweet').attr('rows', '2');
			})();
		</script>
	</body>
</html>