<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<title>Welcome!</title>
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
		<link rel="stylesheet" href="{% static "css/style.css" %}">
	</head>
	<body>
		{% include "navbar.html" %}
		<div class="container">
			<div class="page-header">
				<h1>Welcome</h1>
			</div>
			<div class="login-form">
				<a href="{% url 'registration:signup' %}" class="btn btn-primary btn-lg">Signup</a>
				<span>&nbsp;</span>
				<a href="{% url 'registration:login' %}" class="btn btn-primary btn-lg">Login</a>
			</div>
		</div>
		{% include "scripts.html" %}
	</body>
</html>