.login-form, .edit-form {
	max-width: 400px;
}

.logout-form {
	margin-bottom: 1em;
}

.recent-tweets {
	margin-top: 2em;
}

.container {
	max-width: 600px;
	margin: 0 auto;
}

.media {
	padding: .5em;
	background-color: #D4EDFF;
	border-radius: .25em;
}

.user-profile img {
	height: 64px;
	margin-bottom: .5em;
}

.pull-left > img {
	width: 64px;
	height: 64px;
}

li > button {
	margin-left: 1em;
}

body {
	margin-bottom: 1em;
}